<div class="hairline--bottom p-t-2 p-b-1 m-b-2">
  <div class="container">
    <h1 class="logo">Computed Validator</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      {{#link-to 'quick-start'}}Quick Start{{/link-to}}
    </div>

    <div class="col-sm-9">
      {{outlet}}
    </div>
  </div>
</div>
