<div class="hairline--bottom p-t-2 p-b-1 m-b-2">
  <div class="container">
    <h1 class="logo">Computed Validator</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-3 block-list">
      {{#link-to 'quick-start'}}Quick Start{{/link-to}}
      {{#link-to 'included-validation-rules'}}Included Validation Rules{{/link-to}}
      {{#link-to 'meta-validation-rules'}}Meta Validation Rules{{/link-to}}
    </div>

    <div class="col-sm-9 prose">
      {{outlet}}
    </div>
  </div>
</div>
