<h2>Install</h2>

<p>
  Inside of your project directory type:
</p>

{{code-snippet name="install.sh"}}

<h2>Create a Validator</h2>

<p>
  Use the <code>ember-computed</code> module to access this library's code. For
  instance, let's say that you have a name field with a minimum length
  and an age field that should be an integer.
</p>

{{code-snippet name="quick-start-example.js"}}

<p>The result:</p>

<div class="p-a-2">
  {{quick-start-example}}
</div>
