<h2>Install</h2>

<p>
  Inside of your project directory type:
</p>

<p>
  <code>
    ember install computed-validator
  </code>
</p>

<p>
  Then use the <code>ember-computed</code> module to access this library's
  code.
</p>
